body.dark-mode {
    background-color: #121212;
    color: #ffffff;
  }
  
  .dark-mode header {
    background-color: #1e1e1e;
  }
  
  .dark-mode footer {
    background-color: #1e1e1e;
  }
  
  .dark-mode .job, .dark-mode form {
    background: #1e1e1e;
    border-color: #333;
  }
  
  .dark-mode .btn {
    background: #444;
    color: #e1e1e1;
  }
  